nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  padding: 0.2vw 1vw;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  svg {
    width: 4vw;
    fill: var(--light);
    color: var(--light);
  }

  ul {
    display: flex;
    gap: 1vw;
    a {
      text-decoration: none;
      text-transform: uppercase;
      color: var(--light);
      font-size: 12px;
    }
  }

  .third {
    display: flex;
    gap: 10px;
    align-items: center;
    > a {
      color: var(--yellow);
      text-transform: uppercase;
      text-decoration: none;
      font-size: 12px;
    }

    .circle {
      width: 20px;
      height: 20px;
      background-color: var(--yellow);
      border-radius: 100%;
    }
  }
}
